BACKEND/
images/
Mongoose/
node_modules/
Registration/
SKYNOMICS/
app/
Assignmenr/
index/
index1/
lab_assignment/
navbar_using_flexbox/
navbar_using_grid/
navbar_using_positioning/
package/
package-lock/
sample2/
style/
style1/
style2/