*{
margin:0;
padding:0;
}
body{
font-family:poppins;
background-size:cover;
background-position:center center;
height:100vh;
}
.nav ul{
list-style:none;
display:flex;
}
.nav ul li a{
text-decoration:none;
color:#fff;
padding:1.5rem;
font-weight:bold;
}
.header{
background:pink;
overflow:hidden;
}
.nav{
display:grid;
grid-template:6fr 6fr;
align-items:center;
margin:20px 0px;;
padding:7px 7px;
}
.logo{
position:absolute;
top:25px;
right:10px;
}