body{
margin:0px;
padding:0px;
}
.left{
border:2px solid red;
position:absolute;
display:inline-block;
top:18px;
}
.mid{
display:block;
width:50%;
margin:0px auto;
border:2px solid green;
}
.right{
position:absolute;
display:inline-block;
top:18px;
right:5px;
border:2px solid blue;
}
.navbar{
display:inline-block;
}
.navbar li{
display:inline-block;
font-size:20px;
}
.navbar li a{
color:grey;
text-decoration:none;
padding:34px 23px;
}
.navbar li a:hover,.navbar li a.active{
text-decoration:underline;
color:pink;
}